// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_page h4 {
  padding-top: 10px;
  padding-right: 150px;
}

.comments {
  margin-left: 20px;
  padding-bottom: 10px;
}