// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_page h3 {
  padding-top: 40px;
}

.comments {
  padding-left: 40px;
  padding-bottom: 10px;
}

.reviews {
  padding-left: 25px;
  padding-bottom: 10px;
}

