// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-top-padding {
  padding-top: 50px;
}

body {
  line-height: 1.5;
  font-size: 1.5rem;
}

.home-page h1 {
  font-family: 'Bubbler One';
  font-size: 22px;
  color: green;
  text-align: center;
}

.home-page h2 {
  font-family: 'Bubbler One';
  font-size: 22px;
  color: green;
  text-align: center;
}

//landing page
.lptitle h1 {
  font-family: 'Bubbler One';
  font-size: 32px;
  text-align: center;
  color: purple;
}

.lptitle h2 {
  font-family: 'Bubbler One';
  font-size: 22px;
  text-align: center;
  color: purple;
}

.carousel-caption p {
  color: white;
  font-size: 30px;
  text-shadow: 4px black;
}


/******** nav bar ********/

.navbar {
  background-color: #6C464F;
}

.navbar-inverse .navbar-brand {
  color: #B3CDD1;
}

.pull-right {
  color: #B3CDD1;
  font-family: 'Bubbler One';
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 6px;
}

.pull-right li a {
  color: #B3CDD1;
}

.companyName {
  color: #23527c;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
}

.companyName a {
  color: #B3CDD1;
}

.companyName a:hover {
  text-decoration: none;
  background-color: #6C464F;
  color: white;
}

.nav-text {
  font-family: 'Bubbler One';
  font-size: 22px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #B3CDD1;
  font-family: 'Bubbler One';
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #79565F;
}

.navbar-inverse .navbar-toggle {
  border-color: #B3CDD1;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #B3CDD1;
}

.input-group {
  padding: 8px 12px;
  border-radius: 0px;
  border-width: 1px;
  color: rgb(119, 119, 119);
  background-color: rgb(248, 248, 248);
  border-color: rgb(231, 231, 231);
  box-shadow: none;
  outline: none;
}

.navbar-collapse form[role="search"] button[type="reset"] {
  display: none;
}

.navbar-brand {
  font-size: 30px;
}

//about section
.about-page {
  font-family: 'Bubbler One';
  font-size: 22px;
  text-align: center;
  padding-bottom: 395px;
  color: purple;
}

//contact setion
.contact-section {
  padding-bottom: 201px;
}

.contact-section p {
  text-align: center;
  font-family: 'Bubbler One';
  font-size: 15px;
  color: purple;
}

.contact-section h1 {
  text-align: center;
  font-family: 'Bubbler One';
  font-size: 32px;
  color: purple;
}

//thank you page
.panel-body p {
  font-size: 1.5em;
  color: purple;
}

//products page
.products-page h1 {
  font-family: 'Bubbler One';
  font-size: 32px;
  color: green;
  text-align: center;
}

.product-description {
  font-family: 'Bubbler One';
  font-size: 22px;
  color: green;
  text-align: center;
}

.btn-success {
  margin-left: 80px;
}

.footer {
  font-family: 'Bubbler One';
  font-size: 22px;
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media (max-width: 480px) {
  .lptitle {
    padding-top: 10px;
  }
  .navbar-form {
    margin-bottom: -10px;
  }
  .navbar-inverse .navbar-form {
    border-color: transparent;
  }
  .contact-section {
    padding-top: 30px;
    padding-top: 50px;
  }
  .contact-form {
    padding-top: 50px;
    padding-left: 100px;
  }
  .form-control {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

@media (min-width: 480px) and (max-width: 1400px) {
  .contact-form {
    padding-left: 500px;
    
  }
}

@media (max-width: 767px) {
  .contact-form {
    padding-left: 50px;
  }
}
