<p id="notice"><%= notice %></p>

<div class = "product-description">
  <h1>Our Bikes</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Product', new_product_path, class:'btn btn-primary new-product-btn' %>